body{
    display: flex;
    flex-direction: column;
}

.header{
    background-color: #1F2937;
    font-family: Roboto sans-serif;
}

.header h3{
    font-size: 24px;
    color:#F9FAF8;
}

.cont1 h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.cont1 p, li{
    font-size: 18px;
    color: #E5E7EB;
}

ul{
    
}

li{
    list-style: none;
}

